<article>
    <h2>Coaching personnalisé</h2>

    <section>
        <p>
            Les séances de <span>coaching personnalisé</span> vous donnent la possibilité de corriger vos erreurs de pilotage, mais aussi d'approfondir votre technique.<br>
            Ces séances durent une heure au cours de laquelle les points suivants seront abordés :
        </p>
        <ul>
            <li>La précision des trajectoires</li>
            <li>La qualité des freinages</li>
            <li>La gestion du carburant</li>
        </ul>
        <p>
            Maxime (<span>Almado</span>) sera à vos côtés, attentif aux moindres détails de votre conduite, prêt à vous donner les clés pour atteindre votre meilleur niveau : cela passera par autant d'astuces et de pistes d'améliorations que possible.<br>
            <br>
            Bien entendu, vous aurez la possibilité de poser toutes les questions que vous souhaitez, c'est aussi le but de ce coaching.<br>
            <br>
            Si vous choisissez de réserver une séance, vous serez contacté par <span>mail</span> afin de convenir d'un crénau. La séance sera assurée dans un délais maximum d'<span>une semaine</span>.
        </p>

        <div>
            <a (click)="addToCart('25', '')">1 coaching (25€)</a>
            <a (click)="addToCart('100', '-group')">5 coachings (100€)</a>
        </div>
    </section>
</article>