<article>
    <h2>Panier</h2>

    <table *ngIf="!panier_vide">
        <thead>
            <td>Produit</td>
            <td>prix</td>
        </thead>
        <!-- table panier par utilisateur -->
        <tr *ngFor="let produit of panier"> 
            <td>{{ getNomFromRef(produit.ref) }}</td>
            <td>{{ produit.prix }}€</td>
        </tr>
    </table>

    <p *ngIf="panier_vide">Votre panier est vide</p>

    <a id="pay_button" (click)="pay()">Valider mon panier</a>

    <form id="pay_form" method="POST" action="https://recette-tpeweb.e-transactions.fr/php/">
        <input type="hidden" name="PBX_SITE" value="1999887">
        <input type="hidden" name="PBX_RANG" value="32">
        <input type="hidden" name="PBX_IDENTIFIANT" value="2">
        <input type="hidden" name="PBX_SOURCE" value="RWD">
        <input type="hidden" name="PBX_TOTAL" [value]="montant">
        <input type="hidden" name="PBX_DEVISE" value="978">
        <input type="hidden" name="PBX_CMD" [value]="ref">
        <input type="hidden" name="PBX_PORTEUR" [value]="mail">
        <input type="hidden" name="PBX_RETOUR" value="Mt:M;Ref:R;Auto:A;Erreur:E">
        <input type="hidden" name="PBX_HASH" value="SHA512">
        <input type="hidden" name="PBX_TIME" [value]="dateTime">
        <input type="hidden" name="PBX_HMAC" [value]="hmac">
    </form>
</article>