@use '../../styles.scss' as c;

article {
    position: relative;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    padding: c.$PADDING;
    padding-top: 4em;

    &::before {
        content: "";
        position: absolute;
        width: 100%; height: 100%;
        left: 0; top: 0;

        background: url('../../assets/gt7.jpg') no-repeat;
        background-position: 50% 50%;
        object-fit: cover;
        opacity: .5;
        z-index: -1;
    }

    h2 {
        font-weight: normal;
        font-size: 2rem;
        padding: 1.25em 0;
        margin: 0;
    }
    
    .neon {
        padding: 2em;
        margin-top: 10vh;
        width: max-content;
        
        align-self: center;

        border: 1px solid c.$NEON_TRSP;
        border-radius: 1em;
        box-shadow: c.$BOX_SHADOW;

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 20vw;
            padding: .5em 1em;
            
            color: c.$COLOR;
            font-size: 1em;
            font-weight: bold;
            
            background: transparent;
            border: 2px solid c.$COLOR_TRSP;
            border-radius: 1.45em;

            cursor: pointer;

            img {
                width: 18px;
                height: 18px;
            }

            &:nth-of-type(n):not(:last-of-type) {
                margin-bottom: 1em;
            }
            &:last-of-type {
                font-weight: normal;
            }
        }

        hr {
            align-self: center;
            position: relative;
            margin: 2em .5vw;
            width: 19vw;

            border-bottom: 1px solid c.$COLOR_TRSP;

            &::before {
                content: "ou";
                position: absolute;
                top: 0; left: 50%;
                padding: 0 .25em;

                font-weight: bold;
                color: c.$COLOR_TRSP;
                background: black;

                transform: translate(-50%, -50%);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    article {
        padding: c.$PADDING_MOBILE;
        padding-top: 4em;
    
        h2 {
            font-size: 2rem;
        }
        
        .neon {
            padding: 1em;
            margin-top: 10vh;
    
            border: 1px solid c.$NEON_TRSP;
            border-radius: 1em;
            box-shadow: c.$BOX_SHADOW;
    
            button {
                width: calc(70vw - 2em);
                font-size: .9em;
            }
    
            hr {
                margin: 2em 1vw;
                width: 58vw;
    
                &::before {
                    content: "ou";
                    position: absolute;
                    top: 0; left: 50%;
                    padding: 0 .25em;
    
                    font-weight: bold;
                    color: c.$COLOR_TRSP;
                    background: black;
    
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}