<article>
    <section>
        <h2>Almado Academy</h2>
    </section>
    <section>
        <h3>Contact</h3>
        <span></span>
        <div class="liens">
            <div class="types">
                <p>MAIL :</p>
                <p>INSTAGRAM :</p>
                <p>FACEBOOK :</p>
            </div>
            <div class="adresse">
                <a href="mailto:contact@almado-academy.fr" target="_blank">contact@almado-academy.fr</a>
                <a href="//www.instagram.com/almadoacademy/" target="_blank">AlmadoAcademy</a>
                <a href="//fr-fr.facebook.com/almadoacademy" target="_blank">AlmadoAcademy</a>
            </div>
        </div>
    </section>
</article>