@use '../../styles.scss' as c;

@media screen and (min-width: 768px) {
    article {
        position: relative;

        min-height: calc(100% - 4em);
        width: 100%;

        a {
            color: hsl(214, 90%, 60%);
        }

        section {
            position: relative;

            &:first-of-type {

                width: 100%;
                min-height: 30vh;
                margin: 4em 0 0 0;

                display: flex;
                justify-content: flex-start;
                align-items: flex-end;

                border-bottom: 1px solid white;

                
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    
                    background: url('../../assets/nom_sur_lmp3.png') no-repeat;
                    background-size: 100%;
                    background-position: 0 65%;
                    opacity: .3;
                    
                    z-index: 0;
                }

                h2 {
                    padding: 0 0 0 20%;
                    font-weight: normal;
                    font-size: 4em;
                    color: white;
                    z-index: 1;
                }
            }

            &:last-of-type {
                padding: c.$PADDING;

                display: flex;
                flex-direction: column;
                justify-content: center; // responsable 'padding-top'

                min-height: 64vh; // calculé
                max-height: min-content;

                h3 {
                    font-size: 2em;
                    margin: 0;
                    color: c.$COLOR_TRSP;
                    font-weight: normal;
                }

                span {
                    width: 50vw;
                    margin: 1em 0 2em 0;
                    border: 1px solid c.$COLOR_TRSP;
                }

                .liens {
                    display: flex;
                    justify-content: space-between;

                    max-width: 50vw;
                    
                    .types {
                        display: flex;
                        flex-direction: column;

                        color: c.$COLOR_TRSP;
                    }

                    .adresse {
                        display: flex;
                        flex-direction: column;

                        a {
                            padding: 1em 0 1em 0;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    article {
        position: relative;

        min-height: calc(100% - 5em);
        width: 100%;

        a {
            color: hsl(214, 90%, 60%);
        }

        section {

            &:first-of-type {
                position: relative;

                width: 100%;
                min-height: 20vh;
                margin: 5em 0 0 0;

                display: flex;
                justify-content: flex-start;
                align-items: flex-end;

                border-bottom: 1px solid white;

                
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    
                    background: url('../../assets/nom_sur_lmp3.png') no-repeat;
                    background-size: 100%;
                    background-position: 0 65%;
                    opacity: .3;
                    
                    z-index: 0;
                }

                h2 {
                    padding: 0 0 0 5%;
                    font-weight: normal;
                    font-size: 2em;
                    color: white;
                    z-index: 1;
                }
            }

            &:last-of-type {
                padding: c.$PADDING_MOBILE;

                display: flex;
                flex-direction: column;
                justify-content: center; // responsable 'padding-top'

                min-height: 64vh; // calculé
                max-height: min-content;

                h3 {
                    font-size: 1.5em;
                    margin: 0;
                    color: c.$COLOR_TRSP;
                    font-weight: normal;
                }

                span {
                    width: 50%;
                    margin: 1em 0 2em 0;
                    border: 1px solid c.$COLOR_TRSP;
                }

                .liens {
                    display: flex;
                    justify-content: space-between;

                    width: 100%;

                    font-size: .75em;
                    
                    
                    .types {
                        display: flex;
                        flex-direction: column;

                        color: c.$COLOR_TRSP;
                    }

                    .adresse {
                        display: flex;
                        flex-direction: column;

                        a {
                            padding: 1em 0 1em 0;
                        }
                    }
                }
            }
        }
    }
}