<article>
    <section>
        <h2>Almado VTR racing</h2>
    </section>
    <section>
        <h3>Contact</h3>
        <span></span>
        <div class="liens">
            <div class="types">
                <p>MAIL :</p>
                <p>INSTAGRAM :</p>
                <p>FACEBOOK :</p>
                <p>TWITTER :</p>
                <p>YOUTUBE:</p>
            </div>
            <div class="adresse">
                <a href="mailto:contact@almadoVTRracing.fr" target="_blank">contact@almadoVTRracing.fr</a>
                <a href="//www.instagram.com/maxime_delpech_/" target="_blank">PRiMA_Almado</a>
                <a href="//fr-fr.facebook.com/maxime.delpech.927" target="_blank">Maxime Delpech</a>
                <a href="//twitter.com/MaximeDelpech3" target="_blank">PRiMA_Almado</a>
                <a href="//www.youtube.com/channel/UCq4_gnPmqdPtNH65SaXtF8A" target="_blank">PRiMA_Almado</a>
            </div>
        </div>
    </section>
</article>