@use '../styles.scss' as c;


h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 5em;

    // font-size: 1.1em;
    // font-weight: 100;
    // letter-spacing: 5px;
    
    // p {
    //     text-shadow: c.$TEXT_SHADOW;
        
    //     width: max-content;
    //     margin: 0;
    // }

    img {
        width: 100%;
    }

    &:hover {
        opacity: .75;
    }
}

@media screen and (min-width: 768px) {

    .mobile {
        display: none;
    }

    .desktop:not(footer) {
        z-index: 999;
    
        position: fixed;
        top: 0;
        left: 0;
    
        min-width: 100%;
        height: 4em;
    
        background: transparentize($color: #1f2122, $amount: .5);

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: c.$HEADER_PADDING;
    
        a {
            color: c.$COLOR;
            text-decoration: none;
            cursor: pointer;
        }
    
        ul {
            display: flex;
            align-items: center;
    
            li {
                min-width: 5em;
                max-height: 4em;
                padding: 1em;
    
                text-align: center;
                list-style: none;
                font-size: .8em;
    
                a {
                    transition: .1s all;
                }
    
                &:hover a {
                    opacity: .5;
                }

                img {
                    scale: .75;
                }
            }
        }
    }

    .desktop:not(header) {
        background: #1f2122;
    
        margin: 0em 0 0 0;
        padding: c.$HEADER_PADDING;
        width: 100%;
    
        position: relative;
    
        display: flex;
        flex-direction: column;
    
    
        a {
            color: c.$COLOR;
            text-decoration: none;
        }
    
        ul {
            list-style: none;
    
            &:first-of-type {
                display: flex;
    
                align-self: center;
                justify-self: center;
                padding: 0;
    
                &:nth-child(n) {
                    display: flex;
                    justify-content: space-evenly;
    
                    font-size: .75em;
    
                    text-decoration: underline;
                }
            }
    
            &:last-of-type {
                display: flex;
    
                img {
                    max-width: 2em;
                    padding: 0 .25em 0 .25em;
                }
            }
    
            li {
                padding: 0;
            }
        }
    
        hr {
            width: 100%;
            border: 0 0 1px 0 solid;
    
            margin: 0;
        }
    
        .upperSide {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
    
            min-width: 100%;
    
            position: relative;
    
            .logo, ul {
                width: calc(100%/3);
            }
    
            .socials {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    
        .downSide {
            font-size: .75em;
    
            display: flex;
            justify-content: space-between;
    
            a {
                text-decoration: underline;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .desktop {
        display: none;
    }


    .mobile:not(footer) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        width: 100%;
        margin: 0;

        list-style: none;


        #navBar {
            position: fixed;
            top: 0; left: 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
            
            height: 5em;
            width: 100%;
            padding: 0 2em 0 2em;

            transition: background-color .25s ease-in-out;

            // background-color: c.$HEADER_GREY;
            background: transparentize($color: #1f2122, $amount: .5);
            z-index: 2;
            
            #burger {
                position: relative;

                display: flex;
                flex-direction: column;

                width: 2em;
                height: 2em;


                span {
                    height: c.$THICKNESS;
                    margin: c.$THICKNESS 0;
                    border-radius: calc(c.$THICKNESS/2);
                    background: c.$COLOR;
                    transition: .2s ease-in-out;

                    
                    &:nth-of-type(1) {
                        width: 50%;
                    }
                    
                    &:nth-of-type(2) {
                        width: 100%;
                    }
                    
                    &:nth-of-type(3) {
                        width: 75%;
                    }
                }

                input {
                    display: none;
        
                    &:checked {
                        & ~ span {
                            &:nth-of-type(1) {
                                transform-origin: bottom;
                                transform: rotateZ(45deg) translate(c.$THICKNESS, 1.5px);
                            }
            
                            &:nth-of-type(2) {
                                transform-origin: center;
                                transform: rotateZ(-45deg);
                            }
            
                            &:nth-of-type(3) {
                                width: 50%;
                                transform-origin: top;
                                transform: translate(calc(1em - 1.5px), -3px) rotateZ(45deg);
                            }
                        }
                    }
                }
            }
        }

        a {
            text-decoration: none;
        }

        #menu {
            position: fixed;
            top: 5em; left: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            row-gap: 2em;

            width: 0;
            height: 0;
            padding: 4vh 2em 0 2em;
            margin: 0em 0 0 0;
            border-radius: 0 0 100% 0;
            
            opacity: 0;
            
            z-index: 999;

            list-style: none;

            transition: height .5s ease-in-out,
                        width .5s ease-in-out,
                        opacity .25s ease-in-out,
                        border-radius .75s ease-in-out;
            background: #1f2122;
            
            overflow: hidden;


            .lien {
                width: calc(100% - 2em);
                padding: 2em 0 0 0 ;
        
                border-bottom: 1px solid rgba(255, 255, 255, c.$TEXT_OPACITY);
            }
        
            .copyrights {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                width: calc(100vw - 4em);
                height: 100%;
                padding: 4vh 0 2em 0;

                overflow-x: hidden;

                font-size: .75em;
                color: rgba(255, 255, 255, c.$TEXT_OPACITY);
            
                z-index: 0;
            }
        }

        h1 img {
            width: 4em;
        }
    }

    // ajouté quand appel du menu
    .menuOuvert {
        height: calc(100% - 5em) !important;
        width: 100% !important;
        border-radius: 0 !important;
        opacity: 1 !important;
    }

    .navBar {
        background-color: #1f2122 !important;
    }



    .mobile:not(header) {
        display: flex;
        flex-direction: column;
        padding: 0 10vw;

        background: c.$HEADER_GREY;

        font-size: .75em;

        & > * {
            width: 100%;
        }

        .logo {
            text-decoration: none;
        }

        ul {
            display: flex;
            justify-content: space-between;

            list-style: none;

            padding: 0;
        }

        .upperSide {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .socials {
                column-gap: .25em;
                img {
                    width: 2em;
                }
            }
        }

        .downSide {
            display: flex;
            justify-content: space-between;
        }
    }
}