<article>
    <h2>Bienvenue <span>Osmoz</span>,</h2>

    <section>
        
        <p>
            Merci de participer au pré-lancement de l'<span>Almado Academy</span> !<br>
            <br>
            Vous avez été <span>parmi les premiers</span> à répondre à notre appel d'offre sur les réseaux sociaux, et ainsi choisis pour être les premiers bénéficiaires d'une séance de <span>coaching personnalisé</span>. <br>
            <br>
            De ce fait, nous vous proposons une commande pour l'intégralité de votre équipe (<span>9 personnes</span>) pour un tarif préférentiel de <span>100€</span> (cent euros).<br>
            Maxime Delpech (<span>Almado</span>) animera les sessions de coaching par groupe de <span>3 personnes</span>, et s'assurera de donner à chaque pilote l'ensemble des conseils nécessaires à sa progression. <br>
            <br>
            Une fois votre séance réservée, vous serez contacté par <span>mail</span> (ou par les réseaux sociaux) afin de convenir d'un crénau. La séance sera assurée dans un délais maximum d'<span>une semaine</span>.
        </p>
        
        <a (click)="addToCart()">Réserver ma séance</a>
    </section>

</article>