<article>
    <h2>Bonjour <span>{{ userDetails.name || "" }}</span>,</h2>

        <h3>Vos commandes :</h3>
        <table>
            <thead>
                <td>Commande(s)</td>
                <td>Date de commande</td>
                <td>Prix</td>
            </thead>
            <tr *ngFor="let commande of commandes">
                <td>{{ commande.ref }}</td>
                <td>{{ commande.date }}</td>
                <td>{{ commande.prix }}€</td>
            </tr>
        </table>

        <h3>Informations d'assistance technique :</h3>
        <p class="assistance">
            <u>Id client :</u> {{ userDetails.id }}
            <br>
            <u>Mail :</u> {{ email }}
            <br>
            <u>Type de connexion :</u> {{ type_connexion }}
        </p>

        <button class="deconnexion" type="button" (click)="signOut()">Se déconnecter</button>
</article>