<article>
    <h2>
        Votre paiement a échoué <span>{{ nom_complet.split(" ")[0] }}</span>.
    </h2>
    <p>Si ce n'était pas censé arriver, veuillez nous contacter.</p>
    <ul>
        <li>Nous contacter : <a id="contact" href="mailto:help@almado-academy.fr">help@almado-academy.fr</a></li><br>
        <li>Code erreur : {{ error_code }}</li>
        <li>Référence non validée : {{ ref }}</li>
        <li>Montant non validé : {{ montant }}</li>
    </ul>
    <a href="/">Retour à l'accueil</a>
</article>