<article>
    <h2>Bienvenue chez <span>Almado Academy</span>,</h2>
    <div id="prestations">
        <section>
            <h3>Formation en ligne</h3>
            <div class="description">
                <ul>
                    <li>Série de <b>vidéos</b></li>
                    <li>Différents thèmes :</li>
                    <li class="pad">Trouver la <b>trajectoire parfaite</b></li>
                    <li class="pad">Le principe du <b>freinage dégressif</b></li>
                    <li class="pad">Comment optimiser sa <b>gestion du carburant</b>?</li>
                    <li class="pad">...</li>
                    <li>Disponibilité <b>immédiate</b></li>
                </ul>
            </div>
            <div class="prix">
                <h4>30€</h4>
                <a href=""><span>Bientôt disponible!</span></a>
                <a></a>
            </div>
        </section>
        <section id="center">
            <h3>Coaching personnalisé</h3>
            <div class="description">
                <ul>
                    <li>Session <b>1h</b></li>
                    <li>Analyse :</li>
                    <li class="pad"><b>Trajectoires</b></li>
                    <li class="pad"><b>Freinages</b></li>
                    <li class="pad"><b>Consommation</b></li>
                    <li><b>Conseils</b> (astuces et pistes d'amélioration)</li>
                    <li>Délai inférieur à <b>1 semaine</b></li>
                </ul>
            </div>
            <div class="prix">
                <h4>
                    25€
                    <span>/pers. <br>(ou 100€ pour 5 pers.)</span>
                </h4>
                <a href="/produits/coaching"><span>Choisir</span></a>
                <a></a>
            </div>
        </section>
        <section>
            <h3>Réglage</h3>
            <div class="description">
                <ul>
                    <li>A la <b>demande</b></li>
                    <li>Adapté à votre besoin :</li>
                    <li class="pad">Selon la <b>Voiture</b></li>
                    <li class="pad">Selon le <b>Circuit</b></li>
                    <li>Delai inférieur à <b>3 jours</b></li>
                </ul>
            </div>
            <div class="prix">
                <h4>10€</h4>
                <a href=""><span>Bientôt disponible!</span></a>
                <a></a>
            </div>
        </section>
    </div>
</article>