<article>
    <h1>Bienvenue chez <span>Almado Academy</span>,</h1>
    <div id="prestations">
        <section>
            <h2>Formation en ligne</h2>
            <div class="description">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="prix">
                <h3>30€</h3>
                <a href=""><span>Choisir</span></a> <!-- add to cart -->
                <a href="">En savoir plus</a>
            </div>
        </section>
        <section id="center">
            <h2>Coaching personnalisé</h2>
            <div class="description">
                <ul>
                    <li>Session <b>1h</b></li>
                    <li>Analyse :</li>
                    <li class="pad">- <b>Trajectoires</b></li>
                    <li class="pad">- <b>Freinages</b></li>
                    <li class="pad">- <b>Consommation</b></li>
                    <li><b>Conseils</b> (astuces et pistes d'amélioration)</li>
                </ul>
            </div>
            <div class="prix">
                <h3>25€ <span>/pers. <br>(ou 100€ pour 5 pers.)</span></h3>
                <a href=""><span>Choisir</span></a> <!-- add to cart -->
                <a href="">En savoir plus</a>
            </div>
        </section>
        <section>
            <h2>Réglage</h2>
            <div class="description">
                <ul>
                    <li>A la <b>demande</b></li>
                    <li>Adapté à votre besoin :</li>
                    <li class="pad">- Selon la <b>Voiture</b></li>
                    <li class="pad">- Selon le <b>Circuit</b></li>
                    <li>Delais inférieur à <b>3 jours</b></li>
                </ul>
            </div>
            <div class="prix">
                <h3>10€</h3>
                <a href=""><span>Choisir</span></a> <!-- add to cart -->
                <a href="">En savoir plus</a>
            </div>
        </section>
    </div>
</article>