@use '../../styles.scss' as c;

article {
    position: relative;
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 4em 17.5vw 4em 17.5vw;
    min-height: 100vh;

    &::before {
        content: "";
        position: absolute;
        width: 100%; height: 100%;
        top: 0; left: 0;
        background: url('../../assets/gt7.jpg') no-repeat;
        background-position: 50% 50%;
        object-fit: cover;
        opacity: .5;
        z-index: -1;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            padding: .5em 0;

            span {
                color: transparent;
            }

        }
        
    }

    h1 {
        position: relative;
        font-weight: normal;
        font-size: 2rem;

        width: max-content;
        margin: 1.25em 0;

        span {
            font-weight: 100;
            color: rgba(255, 255, 255, .75);
            text-shadow: c.$TEXT_SHADOW;

            animation: 10s flash infinite;
        }
    }

    #prestations {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        section {
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: .75em;

            padding: 1.5em;

            width: calc((60vw) / 3);
            min-height: calc(16 * ((60vw) / 27)); // min: 16:9

            border-radius: 1em;
            border: 1px solid rgba(255, 255, 255, .75);
            
            &:nth-of-type(2) {
                box-shadow: c.$BOX_SHADOW;
            }
            

            &:first-of-type, &:last-of-type {
                width: calc(.95 * ((60vw) / 3));
                min-height: calc(.95 * (16 * ((60vw) / 27))); // min: 16:9

                box-shadow: inset rgba(194, 10, 19, 0.75) 0 0 12px 0px, rgba(194, 10, 19, 0.75) 0 0 12px 0px;
            }

            h2 {
                // font-weight: normal;
                font-size: 1.75em;
                margin: 0;
            }

            .description {
                hr {
                    border-bottom: 1px solid white;
                }

                ul {
                    // color: c.$COLOR_TRSP;
                    padding-top: 1em;

                    .pad {
                        padding: .25em 0em;
                        margin: 0 0 0 2em;
                        list-style: initial;
                    }
                }
            }


            .prix {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 1em;

                
                h3 {
                    display: flex;
                    align-items: center;
                    column-gap: .25em;
                    
                    font-weight: normal;
                    font-size: 2.5em;
                    
                    margin: 0;
                    
                    span {
                        font-size: .25em;
                    }
                }
                
                a {
                    &:first-of-type {
                        padding: .25em 1.5em;
                        width: max-content;
                        
                        border-radius: 10em;
                        font-size: 1.25em;
                        text-decoration: none;
                        font-weight: 400;

                        color: c.$NEON_TRSP;
                        text-shadow: c.$TEXT_SHADOW;
                        
                        border: 1px solid c.$NEON_TRSP;
                        box-shadow: c.$BOX_SHADOW;
                        
                        &:hover {
                            animation: onHover 5s;
                        }
                    }
                    
                    // "en savoir plus"
                    // &:last-of-type {
                    //     font-size: .75em;

                    //     &:hover {
                    //         color: c.$COLOR_TRSP;
                    //     }
                    // }
                }
            }


            &:first-of-type, &:last-of-type {
                position: relative;
                opacity: .5;
                
                &::after {
                    content: "";
                    position: absolute;
                    width: calc(100% + 4px); height: calc(100% + 4px);
                    top: -2px; left: -2px;

                    background: rgba(0, 0, 0, 0);
                    border-radius: inherit;
                }
            }
        }
    }
}


@keyframes flash {
    0% {
        color: c.$NEON_TRSP;
        text-shadow: c.$TEXT_SHADOW;
    }
    39% {
        color: c.$NEON_TRSP;
        text-shadow: c.$TEXT_SHADOW;
    }
    40% {
        color: rgba(255, 255, 255, .2);
        text-shadow: none;
    }
    41% {
        color: c.$NEON_TRSP;
        text-shadow: c.$TEXT_SHADOW;
    }
    69% {
        color: c.$NEON_TRSP;
        text-shadow: c.$TEXT_SHADOW;
    }
    70% {
        color: rgba(255, 255, 255, .2);
        text-shadow: none;
    }
    71% {
        color: c.$NEON_TRSP;
        text-shadow: c.$TEXT_SHADOW;
    }
    72% {
        color: rgba(255, 255, 255, .2);
        text-shadow: none;
    }
    73% {
        color: c.$NEON_TRSP;
        text-shadow: c.$TEXT_SHADOW;
    }
}

@keyframes onHover {
    0% {
        border: 1px solid c.$NEON_TRSP;
        box-shadow: c.$BOX_SHADOW;
    }
    1% {
        border: 1px solid rgba(255, 255, 255, .2);
        box-shadow: none;
    }
    2% {
        border: 1px solid c.$NEON_TRSP;
        box-shadow: c.$BOX_SHADOW;
    }
    3% {
        border: 1px solid rgba(255, 255, 255, .2);
        box-shadow: none;
    }
    4% {
        border: 1px solid c.$NEON_TRSP;
        box-shadow: c.$BOX_SHADOW;
    }
}